# CH02. 데이터 획득하기

## SECTION 01. 파이썬 데이터 분석 라이브러리 활용하기

넘파이(Numpy)
- 수치 데이터를 다루는 데 활용하는 파이썬 라이브러리
- `ndarray` 넘파이를 통해 생성되는 n차원 배열(array) 객체

In [1]:
import numpy as np
a = np.array([1,2,3,4,5])

In [2]:
type(a)

numpy.ndarray

판다스(Pandas)
- 데이터 배열이나 테이블 형태의 데이터(tublar data) 등의 자료  구조를 처리하기 위한 라이브러리
- `Series` 1차원으로 구성된 데이터 배열
- `DataFrame` 행(Row) 와 열(Column)으로 구성된 2차원 데이터 테이블

In [6]:
import pandas as pd

In [7]:
pd.Series(['대한', '민국'])

0    대한
1    민국
dtype: object

In [8]:
pd.DataFrame({"a":[1,2,3]})

   a
0  1
1  2
2  3

Python 자료형
- List, Tuple ,Dictionary

## SECTION 02. 데이터 불러오기

다양한 형태의 데이터를 불러오기 위해 read_xxx 함수를 주로 사용한다.
- `read_csv`, `read_html`, `read_json`
- .csv 파일에 한글이 들어 있는 경우 인코딩 오류가 발생할 수 있다.

In [9]:
import pandas as pd
flight = pd.read_csv('./dataset/Clean_Dataset.csv')

## SECTION 03. 데이터 저장하기

데이터를 저장하기 위해 to_xxx 를 사용한다.

In [11]:
a2 = pd.DataFrame({"a":[1,2,3]})
a2.to_csv('./dataset/result.csv')

원하는 컬럼만 가지고 DataFrame 구성하기
- `index_col` 인덱스로 설정할 칼럼
- `usecols` 실제로 데이터프레임에 불러올 칼럼, index_col 항목을 포함해야함

In [13]:
flight2 = pd.read_csv('./dataset/Clean_Dataset.csv', index_col='stops', usecols=['stops', 'departure_time', 'arrival_time', 'destination_city'])

In [14]:
flight2

      departure_time   arrival_time destination_city
stops
zero         Evening          Night           Mumbai
zero   Early_Morning        Morning           Mumbai
zero   Early_Morning  Early_Morning           Mumbai
zero         Morning      Afternoon           Mumbai
zero         Morning        Morning           Mumbai
...              ...            ...              ...
one          Morning        Evening        Hyderabad
one        Afternoon          Night        Hyderabad
one    Early_Morning          Night        Hyderabad
one    Early_Morning        Evening        Hyderabad
one          Morning        Evening        Hyderabad

[300153 rows x 3 columns]

범주형 데이터 2개를 비교 분석 pd.crosstab(index=aaa, columns=bbb)
- source_city 기준으로 arrival_time을 분석할 수 있음

In [15]:
pd.crosstab(index=flight.source_city, columns=flight.arrival_time)

arrival_time  Afternoon  Early_Morning  Evening  Late_Night  Morning  Night
source_city
Bangalore          6992           3154    14493        2673    10411  14338
Chennai            5152           1606    10830        1999     7106  12007
Delhi              8007           5262    14630        2143    13007  18294
Hyderabad          4816           1581    10539        2092     8854  12924
Kolkata            5941           2156    11304        2414     9595  14937
Mumbai             7231           1658    16527        2680    13762  19038